Wallet sends token endpoint params as query params

Hello

We noticed that the iOS wallet (and the Android wallet as well) sends the parameters to the token endpoint as query parameters instead of putting them in the body.

According to the specification, the parameters must be submitted in the HTTP body:
[This section](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-ID1.html#section-6.1) refers to RFC6749:
> The requirements specified in Sections 4.1.3 and 3.2.1 of [[RFC6749](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-ID1.html#RFC6749)] MUST be followed.

And [RFC6749 section 4.1.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-4.1.3) specifies:
> The client makes a request to the token endpoint by sending the
   following parameters using the "application/x-www-form-urlencoded"
   format per [Appendix B](https://www.rfc-editor.org/rfc/rfc6749.html#appendix-B) with a character encoding of UTF-8 in the HTTP
   request entity-body: [...]

We tested with SWIYU iOS Wallet v1.5.0, build 792.

Thank you for this feedback. We will fix the issue according to the specification in an upcoming release.